// Font-sizes using rem, setting 16px as 1rem in styles.scss

.fs-10 {
    font-size: $fs-10;
}

.fs-11 {
    font-size: $fs-11;
}

.fs-12 {
    font-size: $fs-12;
}

.fs-13 {
    font-size: $fs-13;
}

.fs-14 {
    font-size: $fs-14;
}

.fs-15 {
    font-size: $fs-15;
}

.fs-16 {
    font-size: $fs-16;
}

.fs-18 {
    font-size: $fs-18;
}

.fs-19 {
    font-size: $fs-19;
}

.fs-20 {
    font-size: $fs-20;
}

.fs-21 {
    font-size: $fs-21;
}

.fs-22 {
    font-size:$fs-22;
}

.fs-24 {
    font-size: $fs-24;
}

.fs-25 {
    font-size: $fs-25;
}

.fs-32{
  font-size: $fs-32;
}

.fs-35 {
    font-size: $fs-35;
}

// box-shadow: none;
// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);


// Font weights

.fw-extra-light {
  font-weight: $fw-extra-light;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-extra-bold {
  font-weight: $fw-extra-bold;
}


// Letter spacing

.ls-0 {
    letter-spacing: $ls-0;
}

.ls-01 {
    letter-spacing: $ls-01;
}

.ls-02 {
    letter-spacing: $ls-02;
}


// Line Height

.lh-12 {
    line-height: $lh-12;
}

.lh-15 {
    line-height: $lh-15;
}

.lh-16 {
    line-height: $lh-16;
}

.lh-19 {
    line-height: $lh-19;
}

.lh-21 {
    line-height: $lh-21;
}

.lh-22 {
    line-height: $lh-22;
}

.lh-24 {
    line-height: $lh-24;
}

.lh-25 {
    line-height: $lh-25;
}

.lh-28 {
    line-height: $lh-28;
}

.lh-30 {
    line-height: $lh-30;
}

.lh-32 {
    line-height: $lh-32;
}