form {
    textarea {
        border: 1px solid $light-blue-grey;
        border-radius: 6px;
        padding: .2rem .5rem;
        color: $greyish-brown-two;
        font-size: $fs-13;
        &::placeholder {
            color: $gray-04;
            font-size: $fs-12;
        }
    }
}