// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grassy-green: #31b700;
$white-20: #d8d8d8;
$teal: #009f98;
$grassy-green-two: #30b702;
$fresh-green-89: #76d366;
$dark-green: #145046;
$charcoal-grey: #4a4e4e;
$black-30: #00004c;
$dark-blue-green: #004c3f;
$white-gray: #f5f5f5;
$brown-grey: #979797;
$silver: #c0c5c1;
$true-green: #1bb600;
$pine: #32685a;
$white-two: #ffffff;
$black-79: #0000ca;
$shamrock: #00b140;
$dark-grey-blue: #2c2762;
$white-three: #f8f8f8;
$black: #212121;
$brown-grey-two: #acacac;
$greyish-teal: #7f9494;
$teal-two: #009288;
$very-light-pink: #f0f0f0;
$pine-green: #0f4c42;
$slate-grey: #5d5d5e;
$dark-grey: #262629;
$very-light-pink-two: #c9c9c9;
$brownish-grey: #5d5d5d;
$very-light-pink-three: #e7e7e7;
$brownish-grey-two: #5f5f5f;
$very-light-pink-four: #d4d4d4;
$white-four: #f6f6f6;
$red: #ff0000;
$duck-egg-blue: #dce0e0;
$cloudy-blue: #c1c7c8;
$charcoal-grey-two: #414849;
$very-light-pink-five: #ececec;
$gunmetal: #596364;
$very-light-pink-six: #dddddd;
$kelly-green: #00a82d;
$very-light-pink-seven: #d5d5d5;
$greyish-brown: #545454;
$brown-grey-three: #7b7b7b;
$bluish-grey: #898d8d;
$greyish-brown-two: #4a4a4a;
$brown-grey-four: #9b9b9b;
$orangey-yellow: #f5a623;
$greyish-brown-three: #535353;
$very-light-pink-eight: #dcdcdc;
$brown-grey-five: #a3a3a3;
$charcoal-grey-three: #4c5050;
$warm-grey: #8b8888;
$white: #ffffff;
$brown-grey-six: #7e7a7a;
$greyish-brown-four: #484747;
$black-28: #000046;
$black-three: #010101;
$brown-grey-seven: #7d7d7d;
$very-light-pink-nine: #efeeee;
$brownish-grey-three: #676767;
$brownish-grey-four: #737373;
$black-two: #2d2d2d;
$very-light-pink-ten: #dedede;
$very-light-pink-eleven: #d3d3d3;
$brown-grey-eight: #9f9f9f;
$brownish-grey-five: #747474;
$brownish-grey-six: #767676;
$black-all: #000000;
$gray-form: #ededed;
$gray-form-h3: #8e9393;
$grey-h3-title: #848484;
$charcoal-grey-four: #383b41;
$red-error-btstrp: #dc3545;
$grey-light: #8f8f8f;
$light-grey-blue: #a5adbb;
$light-blue-grey: #c1c7d0;
$yellow-chrome: #fca800;
$coral: #ff784f;
$old-mauvee: #65334d;
$blue-lazuli: #2274a5;
$green-apple: #6cc551;
$gray-line: #d7d7d7;
$gray-input: #ebecf0;
$red-comment: #f65545;
$green-pine: #008374;
$atlantis: #97e545;
$charcoal: #4a4949;
$blue: #3490dc;
$blue-two: #0091ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$red-two: #c71e1e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$green-two: #6dd400;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-01: #f0f0f0;
$gray-02: #6d7278;
$gray-03: #f8f8f8;
$gray-04: #b9b9b9;
$gray-05: #969ca4;
$green-01: #00b140;
$bastille: #2e2e32;

// Font size
$fs-9_3: 0.58125rem;
$fs-10: 0.625rem;
$fs-10_5: 0.65625rem;
$fs-11: 0.6875rem;
$fs-12: 0.75rem;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1.0rem;
$fs-18: 1.125rem;
$fs-19: 1.1875rem;
$fs-20: 1.25rem;
$fs-21: 1.3125rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-25: 1.5625rem;
$fs-32: 2.0rem;
$fs-35: 2.1875rem;

// Line Height
$lh-12: 12px;
$lh-15: 15px;
$lh-16: 1rem;
$lh-19: 19px;
$lh-20: 20px;
$lh-21: 21px;
$lh-22: 22px;
$lh-23: 23px;
$lh-24: 1.5rem;
$lh-25: 25px;
$lh-28: 28px;
$lh-30: 30px;
$lh-32: 2rem;

// Font weight
$fw-extra-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Letter spacing
$ls-0: 0;
$ls-01: 0.1px;
$ls-02: 0.2px;
$ls-03: 0.3px;
$ls-04: 0.4px;
